/* Campus Contest 2021 */

/* Scrollbar */

body::-webkit-scrollbar {
  		width: 14px;
}

body::-webkit-scrollbar-track {
  		background: #212121;
}

body::-webkit-scrollbar-thumb {
  		background-color: #ECECEC; 
  		border-radius: 20px;
  		border: 3px solid #212121;
}

/* Home */

* {
      margin: 0;
      padding: 0;
}

.image_test {
      display: grid;
      height: 100%;
      outline:0; 
      user-select: none; 
      -moz-user-select: none; 
      -webkit-user-drag: none; 
      -webkit-user-select: none; 
      -ms-user-select: none; 
      pointer-events: none;
}

.fit {
      width: 100%;
      max-height: 100vh;
      margin: auto;
}

.name {
  		position: absolute;
  		font-style: normal;
  		font-family: sans-serif;
  		font-size: 35px;
  		position: absolute;
  		top: 200px;
  		left: 50%;
  	  transform: translate(-50%, -50%);
  	  color: #FFFFFF;

}

/* Button home */

.button {
			float: left;
			background-color: transparent;
			text-align: center;
			padding: 12px;
			margin-top: 12px;
			padding-left: 24px;
			padding-right: 24px;
			font-size: 18px;
			border: none;
			color: #FFFFFF;
}

.button_right {
			left: 50%;
			transform: translate(-50%);
			position: absolute;
}

.logo {
      
      position: absolute;
      width: 40px;
      height: 40px;
      margin-top: 10px;
      margin-left: 10px;
      left: 22%;
      transform: translate(-22%);
      user-select: none; 
      -moz-user-select: none; 
      -webkit-user-drag: none; 
      -webkit-user-select: none; 
      -ms-user-select: none; 
      pointer-events: none;
}