/* Campus Contest 2021 */

/* Image de fond sur la page d'accueil */

* {
            margin: 0;
            padding: 0;
}
.image_test {
            display: grid;
            height: 100%;
}
.fit {
            width: 100%;
            max-height: 100vh;
            margin: auto;
}

/* Modification de la scrollbar */

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background: #212121;
}

body::-webkit-scrollbar-thumb {
  background-color: #ECECEC; 
  border-radius: 20px;
  border: 3px solid #212121;
}