/* Campus Contest 2021 */

/* Scrollbar */

body::-webkit-scrollbar {
  			width: 14px;
}

body::-webkit-scrollbar-track {
  			background: #212121;
}

body::-webkit-scrollbar-thumb {
  			background-color: #ECECEC; 
  			border-radius: 20px;
  			border: 3px solid #212121;
}

/* Home */

* {
            margin: 0;
            padding: 0;
}

.image_test {
            display: grid;
            height: 100%;
            outline:0;
            user-drag: none; 
            user-select: none; 
            -moz-user-select: none; 
            -webkit-user-drag: none; 
            -webkit-user-select: none; 
            -ms-user-select: none; 
            pointer-events: none;
}

.fit {
            width: 100%;
            max-height: 100vh;
            margin: auto;
}

.name {
  			position: absolute;
  			font-style: normal;
  			font-family: sans-serif;
  			font-size: 280%;
  			position: absolute;
  			top: 50%;
  			left: 50%;
  			transform: translate(-50%, -50%);
  			color: #FFFFFF;

}

/* Button home */

.button {
			background-color: transparent;
			border: none;
			color: #FFFFFF;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			font-weight: 700;
			position: absolute;
}