/* Campus Contest 2021 */

/* Image d'accueil */

* {
            margin: 0;
            padding: 0;
}
.image_test {
            display: grid;
            height: 100%;
            outline:0;
            user-drag: none; 
            user-select: none; 
            -moz-user-select: none; 
            -webkit-user-drag: none; 
            -webkit-user-select: none; 
            -ms-user-select: none; 
            pointer-events: none;
}

.fit {
            width: 100%;
            max-height: 100vh;
            margin: auto;
}

.name {
  			position: absolute;
  			font-style: normal;
  			font-family: sans-serif;
  			font-size: 30px;
  			position: absolute;
  			top: 50%;
  			left: 50%;
  			transform: translate(-50%, -50%);
  			color: #FFFFFF;

}

/* Modification de la scrollbar */

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background: #212121;
}

body::-webkit-scrollbar-thumb {
  background-color: #ECECEC; 
  border-radius: 20px;
  border: 3px solid #212121;
}